* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

body {
    background: #1c1c1c;
    min-height: 100vh;
    overflow-x: hidden;
}

h2 {
    margin-bottom: 0;
}

button {
    padding: 10px !important;
}

table {
    margin-bottom: 0 !important;
    min-width: 1000px;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.table {
    border: 0.5px solid black;
}

.table thead tr {
    background-color: black;
    color: white;
}

.table thead tr th {
    color: white;
    background-color: #212529;
}

.table>tbody {
    vertical-align: middle;
}

.table td,
.table th {
    padding: 0.75rem;
}

.table-hover tbody tr:hover {
    cursor: pointer;
    background-color: #f3f1f1;
}

.table>thead {
    vertical-align: middle;
}

tbody>tr {
    height: 70px;
}

/*
==============================================================================================================================================================================
INDEX
*/

.list-container {
    min-width: 300px;
    max-width: 500px;
}

.list-container h3,
.list-container span {
    color: white;
}

.list-container .list-group .list-group-item {
    border-width: 1px;
    border-radius: 10px;
    padding: 30px;
    transition: 0.3s;
}

.list-container .list-group .list-group-item:nth-child(1) {
    background-color: crimson;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(2) {
    background-color: #0866ff;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(3) {
    background-color: #009688;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(4) {
    background-color: #9370DB;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(5) {
    background-color: #FF8C00;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(6) {
    background-color: #008080;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(7) {
    background-color: red;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(1):hover {
    background-color: #9E1B32;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(2):hover {
    background-color: deepskyblue;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(3):hover {
    background-color: green;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(4):hover {
    background-color: #483D8B;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(5):hover {
    background-color: #ddac51;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(6):hover {
    background-color: #006666;
    color: white;
}

.list-container .list-group .list-group-item:nth-child(7):hover {
    background-color: darkred;
    color: white;
}

/*
==============================================================================================================================================================================
MENU PRINCIPAL
*/

.principal {
    border-radius: 20px;
}

.navbar {
    border-radius: 50px;
    padding: 10px 5px 10px 25px;
    width: 100%;
}

.nav-link {
    color: #212529;
    padding: 15px;
}

.nav-link:focus {
    padding: 15px;
}

.nav-link:hover {
    color: #0d83fd;
}

#welcome-container p {
    color: #212529;
}

#welcome-container span {
    color: rgb(47, 152, 212);
    font-weight: bold;
}

@media (max-width: 991px) {
    .navbar-brand {
        display: none;
    }
}

/*
==============================================================================================================================================================================
HEADER
*/

.navbar-nav .nav-item #logout-hyperlink {
    text-decoration: none;
}

.navbar-nav .nav-item #logout-hyperlink:hover {
    color: crimson;
}

.nav-link #notificaciones-nav-link:hover {
    color: #0d83fd;
}

.nav-link #notificaciones-nav-link:hover {
    color: #0d83fd;
}

@media (min-width: 992px) {
    #ul-logout {
        border-left: 1px solid #dee2e6 !important;
    }
}

/*
==============================================================================================================================================================================
INFORMES
*/

.upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.upload-icon:hover {
    background-color: #0056b3;
}

.icon {
    font-weight: bold;
    font-size: 24px;
}

span.icon {
    color: white;
}

/*
==============================================================================================================================================================================
BACKGROUND BORDER && FORM CONTAINER
*/

.background-border {
    background-color: white;
    border-radius: 20px;
}

.form-container {
    max-width: 400px;
}

.form-container p {
    margin-bottom: 0 !important;
}

.form-container a {
    color: #17a2b8;
    height: 24px !important;
    font-weight: bold;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.upload-container {
    max-width: 450px;
}

.upload-container form {
    min-width: 420px;
}

@media (max-width: 575px) {

    .min-vh-xs-100 {
        min-height: 100vh;
    }

    .background-border {
        border-radius: 0;
    }

    .form-container,
    .upload-container {
        max-width: 100%;
    }

    #trazabilidad-pps {
        background-color: white;
    }

    .upload-container form {
        min-width: 0;
    }
}

@media (min-width: 992px) {
    #home-button {
        display: none;
    }
}